html {
    width: 100%;
    margin: 0;
    padding: 5px;
}

.topbar > * {
    display: inline;
    list-style: none;
}

#credits ul {
    background-color: gray;
}

section {
    display: none;
}

.popup {
    display: none;
    position: absolute;
    z-index: 1;
}

.show {
    display: block;
}

.song-list {
    display: flex;
}

.song-list ul {
    list-style: none;
}

