@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html {
    margin: 0;
    padding: 5px;
}

nav {
    margin-bottom: 20px;
}

nav h1 {
    padding-left: 5px;
}

.topbar > * {
    display: inline;
    list-style: none;
    margin: 10px;
}

#credits .popup{
    margin-left: 350px;
}

section {
    display: none !important;
}

.popup {
    display: none;
    position: absolute;
    z-index: 1;
}

.show {
    display: block !important;
}

.song-list {
    display: flex;
}

.song-list ul {
    list-style: none;
}

ul.li {
    padding: 10px;
}

#playlist-buttons {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-top: 96px;
}
#playlist-buttons button {
    margin-left: 20px;
    margin-top: 2px;
    font-size: 9px;
}

#home-view li{
    font-size: large;
    padding: 5px;
}

#playlist-table td:first-child{
    text-decoration: underline;
}

#playlist-table td:first-child:hover, #home-view li:hover {
    color: turquoise;
    cursor: pointer;
}

#single-song-view span button, #single-song-view span h2{
    display: inline;
}

#snackbar {
    display: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    text-align: center;
    padding: 15px;
    z-index: 1;
  }


.tooltip-container {
    position: relative;
    display: inline-block;
}


.tooltip {
    position: absolute;
    visibility: hidden;
    width: max-content;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    z-index: 1;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
}

